.App {
    background-color: #0E1014;
    height: 100vh;
}

.container {
    margin: 0 150px;
    max-width: 95rem;
}

@media screen and (max-width: 1400px) {
    .container {
        margin: 0 80px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .App {
        height: auto;
    }
}